<!DOCTYPE html>
<html>
    <head>
        <title >
        Upload image
        </title>
    </head>
    <body>

    <h1 align="center" style="font-family:verdana;color:white;background-color:grey;" >
        OCR
    </h1>
    <p align="center">*Upload an image containing text.The extracted text from the image will be displayed as Result below. Find the source for this server <a href="https://github.com/yash25198/OCR_Demo.git">here</a>*</p>

    <h2 align="center" style="font-family:verdana;color:black;" >
        Upload image
    </h2>



    <form method=post enctype=multipart/form-data>
      <p align="center"><input type="file" name="file">
        <input type="submit" value="Upload">
          </form>

    <h2 ALIGN="center">
        Result
    </h2>

    {% if msg == "Success"%}
    <h5 align="center" style="color:green">{{ msg }}</h5>
    {% else %}
    <h5 align="center" style="color:red">{{ msg }}</h5>
    {% endif %}

    {% if img_src %}
    <p align="center" ><img src="{{ img_src }}"></p>
    {% endif %}

    {% if obtained_text %}
      <p align="center">The extracted text from the image above is: <b> {{ obtained_text }} </b></p>
    {% else %}
      <p align="center">The extracted text will be displayed here</p>
    {% endif %}

    </body>
</html>
